.productContainer .list-group-item {
    margin-top: 2%;
}
.productContainer #button-addon2,.productContainer #button-addon1 {
    background: #0F6AD0;
    border-radius: 0px 4px 4px 0px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}
#button-addon2 {
    transform: matrix(1, 0, 0, 1, 0, 0) !important;
}
button.ant-btn.ant-btn-button.btn.btn-danger.Cart-btn {
    border: 0;
    background-color: transparent;
    color: red;
    box-shadow: none;
    font-weight: bold;
    font-size: 16px;
}