.formAddRole .ant-space-item{
    width: 45%;
}
.formAddRole .ant-form-item-control-input-content {
    display: flex;
    justify-content: flex-end;
    /* margin-top: 7%; */
}
thead{
    text-transform: capitalize;
}
.ant-card-extra {
    display: flex;
    justify-content: space-evenly;
}
.orders-holder-dashboard .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: 1px solid #42a5f5;
}
.productTable .ant-card-extra{
    width: 30%;
}
.categories .ant-card-extra{
    width: 25%;
}
.subCate .ant-card-extra{
    width: 25%;
}