.formAddRole .ant-space-item{
    width: 45%;
}
.formAddRole .ant-form-item-control-input-content {
    display: flex;
    justify-content: flex-end;
    /* margin-top: 7%; */
}
thead{
    text-transform: capitalize;
}
.ant-card-extra {
    display: flex;
    justify-content: space-evenly;
}